.about-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    animation: slide-up 2s;
}

.about-title {
    text-transform: uppercase;
}

.about-backdrop {
    background-color: #8ecae6;
    position: absolute;
    min-height: 150px;
    width: 100%;
    z-index: -1;
    margin-top: -75px
}

.about-img {
    width: 60%;
    max-height: 500px;

}

.about-body {
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: .9rem;
    text-align: justify;
}

@media (min-width: 800px) {

    .about-container {
        min-height: 75vh
    }

    .about-title {
        font-size: 3rem;
    }
    .about-backdrop {
        min-height: 25%;
        margin-top: -100px;
    }

    .about-body {
        margin-top: 30px;
        width: 50%
    }
}