.article-container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.article-img {
    border-radius: 20px;
}

.article-text-container {
    text-align: justify;
    
}

@media (min-width: 800px) {
    .article-container {
        min-height: 60vh;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .article-img {
        height: 450px;
        width: 45%;
        object-fit: cover;
        object-position: 100% 20%;
    }

    .article-title {
        font-size: 2.2rem;
    }

    .article-text-container {
        width: 45%;
    }
}