img {
    width: 100%;
}

* {
    box-sizing: border-box;
}
h1 {
    margin-bottom: 2em
}
h2 {
    margin-bottom: 0;
}

.members-container {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
}

.members-title {
    animation: slide-up 2s;
}

.members-image {
    max-width: 500px;
}

.subtitle {
    margin-bottom: 1em;
}

.section-container {
    margin-bottom: 2em;
}

.italics {
    font-style:italic;
}

.bold-italics {
    font-style:italic;
    font-weight: bold;
}

.callsign {
    font-weight: bold;
}

.extra-space {
    margin-top: 2em
}

@media (min-width: 800px) {
    .section-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        text-align: justify;
        width: 80%;
        margin-bottom: 5em;
    }

    .first {
        animation: slide-up 3s;
    }

    .subtitle {
        margin-bottom: 3em;
    }

    .members-image {
        width: 50%;
        max-width: 600px;
        height: 450px;
        border-radius: 15px;
        transition: .5s;
    }

    .members-image:hover {
        box-shadow: 5px 10px 20px gray;
    }

    .members-text {
        width: 450px;
    }

    .alternate {
        /* width: 20% */
    }


}