img {
    width: 100%;
}

* {
    box-sizing: border-box;
}
h1 {
    margin-bottom: 2em
}
h2 {
    margin-bottom: 0;
}

.members-container {
    padding: 2em;
<<<<<<< HEAD
    margin: 0 auto;
    text-align: center;
}

.members-image {
    max-width: 500px;
}

.subtitle {
    margin-bottom: 1em;
=======
    animation: slide-up 2s;
>>>>>>> ae4b16a9036f1d584f06e58d42b963d909ab282b
}

.section-container {
    margin-bottom: 2em;
}

.italics {
    font-style:italic;
}

.bold-italics {
    font-style:italic;
    font-weight: bold;
}

.callsign {
    font-weight: bold;
}

.extra-space {
    margin-top: 2em
}

@media (min-width: 800px) {
    .section-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        text-align: justify;
        width: 80%;
        margin-bottom: 5em;
    }

    .members-image {
        width: 50%;
        max-width: 600px;
        height: 450px;
    }

    .members-text {
        width: 50%
    }


}