@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Roboto:wght@300;400;900&family=Source+Sans+Pro:wght@300;400;900&display=swap');

body {
  font-family: "Montserrat", san-serif;
  margin: 0;
}
p {
  line-height: 1.6;
}

img {
  width: 100%;
  object-fit: cover;
}

h1,h2,h3 {
  font-family: "Source Sans Pro", san-serif;
  font-weight: 400;
}

.btn {
  cursor: pointer;
  background: linear-gradient(to left, #14213D 50%, #219ebc 50%);
  background-size: 200%;
  background-position: right bottom;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.btn:hover {
  /* background-color: #219ebc; */
  background-position: left top;
  
}
